{% extends "base.html" %}
{% block content %}
<div>
    <h3 id="work_h">Журнал работ</h3>
    <a class="btn" href="/job_add">Add job</a>
    {% for num in range(count)%}
    <div class="job">
        <h4>Работа #{{num + 1}}</h4>
        <table class="data_table">
            <tr>
                <th class="table_header">Название работы</th>
                <th class="table_header">Имя ответственного</th>
                <th class="table_header">Размер</th>
                <th class="table_header">Команда</th>
                <th class="table_header">завершена</th>
            </tr>
            <tr>
                <td class="table_content">{{name[num]}}</td>
                <td class="table_content">{{team_leader[num].name}} {{team_leader[num].surname}}</td>
                <td class="table_content">{{duration[num]}}</td>
                <td class="table_content">{{team_id[num][0].name}} {{team_id[num][0].surname}}</td>
                {%if finished[num]%}
                <td class="table_content" id="is_finished">{{finished[num]}}</td>
                {%else%}
                <td class="table_content" id="is_not_finished">{{finished[num]}}</td>
                {%endif%}
            </tr>
        </table>
        {% if current_user.is_authenticated %}
        <a class="btn" href="{{current_user.id}}/job/edit/{{name[num]}}">edit</a>
        <a class="btn" href="{{current_user.id}}/job/delete/{{name[num]}}">delete</a>
        {% endif %}
    </div>
    {%endfor%}
</div>
{%endblock%}